<p><img src=<%= image_url 'faq.png' %>></p>
<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
  <div class="container">

	  <h2>Frequently Asked Questions </h2>
	  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
				What is your FRUCK WITH FRIENDS app about?
			  </a>
			</h3>
		  </div>
		  <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
			<div class="panel-body px-3 mb-4">
			  <p>Our app is for both food lovers and restraunts/cafes who like to share the dining experience in different locations:</p>
			  <ul>
				<li>Shefs can rent a truck, and dislocate it in any part of Singapore, catching new customers all over the cities</li>
				<li>Customers can enjoy their favorite food brands in locations which are closer to them that usual cafes and restraunts</li>
				<li>Track the Truck! Location changing almost everyday</li>
				<li>Identify the best available food by tracking likes and views!</li>
			  </ul>
			</div>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
				Ok, how it works for chefs?
			  </a>
			</h3>
		  </div>
		  <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
			<div class="panel-body px-3 mb-4">
			  <p>Chefs need to sign-in with a special form. After that, they are able to rent our track and create their unique event with menu, location, time etc.</p>
			</div>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
				And whats for regular users?
			  </a>
			</h3>
		  </div>
		  <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
			<div class="panel-body px-3 mb-4">
			  <p>Track your favorite food brands across the Singapore, travel to the nearest one, share the unique foodtruck experinece with your stupid friends who also has nothing to do how about you go work?</p>
			</div>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
				Can I preorder food, so that when I come to the truck, it won't be empty?
			  </a>
			</h3>
		  </div>
		  <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
			<div class="panel-body px-3 mb-4">
			  <p>Absolutely, preorder quickly</p>
			</div>
		  </div>
		</div>
	  </div>

  </div>
</section>