<div class="container">

<% @events.each do |event| %>
<div class="col">
<div class="containerForEvent">
  <div class="row" style="height: 60px">
    <div class="col">
      EVENT NAME:
    </div>
    <div class="col">
      <%= event.title %>
    </div>
  </div>
  <div class="row" style="height: 60px">
    <div class="col" >
      DATE: <%= event.date %>
    </div>
    <div class="col">
      LOCATION: link
    </div>
    <div class="col">
      BY:<%= link_to event.chef.name, chef_path(event.chef) %>
    </div>
    </div>

  <div class="row" style="height: 60px">
    <div class="col">
      DESCRIPTION:
    </div>
    <div class="col">
      <%= event.description %>
    </div>
  </div>
</div>
</div>

<% end %>


</div>
