.hero {
	min-height: 95vh;
	background-position: center;
	text-align: center;
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1080px) {
	.hero {
		background-position: center left;
	}
}

@media only screen and (max-width: 600px) {
	.hero {
		min-height: 325px;
		background-position: center left;
	}
}