
.card {
opacity: 0.8;
display: inline-block;
}

.card:hover {
  opacity: 1;
}

#allEventsRow {
	text-align: center;
}


.containerForEvent {
	width: 600px;
	height: 200px;
	border-style: dotted;
	margin-top: 55px;
}

.top-left {
color: white;
position: absolute;
top: 8px;
left: 16px;
}

.a-bit-top-left {
color: white;
position: absolute;
top: 48px;
left: 16px;
}

.navMap {
width: 250px;
height: 250px;
border-style: dotted;
}

#navEvents {
	float: right;
}

#cards {
margin-right: 250px;
}

.bottom-right {
color: white;
position: absolute;
bottom: 8px;
right: 16px;
}

.bottom-left {
color: white;
position: absolute;
bottom: 8px;
left: 16px;
}

.jumbotron {
	background-color: white;
	text-align: center;
}

.container {
	background-size: cover;
	display: block;
}

