

.card {
opacity: 0.8;
display: inline-block;
}

.card:hover {
  opacity: 1;
}

#allEventsRow {
	text-align: center;
}


.containerForEvent {
	width: 600px;
	height: 200px;
	border-style: dotted;
	margin-top: 55px;
}

.top-left {
color: white;
position: absolute;
top: 8px;
left: 16px;
}

.a-bit-top-left {
color: white;
position: absolute;
top: 48px;
left: 16px;
}

.navMap {
width: 250px;
height: 250px;
border-style: dotted;
}

#navEvents {
	float: right;
}

#cards {
margin-right: 250px;
}

.bottom-right {
color: white;
position: absolute;
bottom: 8px;
right: 16px;
}

.bottom-left {
color: white;
position: absolute;
bottom: 8px;
left: 16px;
}

.jumbotron {
	background-color: white;
	text-align: center;
}

.container {
	background-size: cover;
	display: block;
}

h2 {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 2.5rem;
    color: black;
    text-transform: uppercase;
}
.accordion-section .panel-default .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: black;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}


